{% extends 'base.html' %}
{% load bootstrap_icons %}

{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" class="col-2">Semester</th>
            <th scope="col" class="col-2">Sheet</th>
            <th scope="col" class="col-2">Task</th>
            <th scope="col" class="col-1">Subtask</th>
            <th scope="col" class="col-1">Compiles Testcase</th>
            <th scope="col" class="col-1">Contains Testcases</th>
            <th scope="col" class="col-1">Unit Testcases</th>
            <th scope="col" class="col-2">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for assignment in assignments %}
            <tr>
                <td class="col-2">{{ assignment.assignment.semester }}</td>
                <td class="col-2">{{ assignment.assignment.sheet }}</td>
                <td class="col-2">{{ assignment.assignment.task }}</td>
                <td class="col-1">{{ assignment.assignment.subtask }}</td>
                <td class="col-1">
                    {% if assignment.compiles_testcase %}
                        <div style="color: #14A44D">active</div>
                    {% else %}
                        <div style="color: #DC4C64">inactive</div>
                    {% endif %}
                </td>
                <td class="col-1">{{ assignment.contains_testcases }}</td>
                <td class="col-1">
                    {% if assignment.unit_testcase %}
                        <div style="color: #14A44D">active</div>
                    {% else %}
                        <div style="color: #DC4C64">inactive</div>
                    {% endif %}
                </td>
                <td class="col-2">
                    <div class="btn-group" role="group">
                        <a class="btn btn-primary btn-sm"
                           href="{% url 'testing-details' ass=assignment.assignment.id %}">{% bs_icon 'search' extra_classes="bi-valign-default" %}</a>
                        <a class="btn btn-success btn-sm" id="start_test_{{ assignment.assignment.id }}"
                           href="#">{% bs_icon 'play' extra_classes="bi-valign-default" %}</a>
                    </div>
                </td>

                <script>
                    $(document).ready(function () {
                        $('#start_test_{{ assignment.assignment.id }}').mousedown(function () {
                            $.ajax({
                                url: "{% url 'testing-execute' ass=assignment.assignment.id %}"
                            });

                            return false;
                        });
                    })
                </script>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}