{% extends 'base.html' %}
{% load bootstrap_icons %}

{% load bootstrap5_custom_tags %}

{% block content %}

    {% if is_update %}
        <h1>Update tag</h1>
    {% else %}
        <h1>Create new tag</h1>
    {% endif %}

    <form action="" method="post" class="form">
        {% csrf_token %}
        {% for field in form %}
            {% bootstrap_form_group field %}
        {% endfor %}

        <div class="mt-3">
            {% if is_update %}
                <button type="submit" class="btn btn-success" value="">{% bs_icon 'check-lg' extra_classes="bi-valign-default"%}Update</button>
            {% else %}
                <button type="submit" class="btn btn-success" value="">{% bs_icon 'check-lg' extra_classes="bi-valign-default"%}Create</button>
            {% endif %}
            <a class="btn btn-outline-secondary" role="button" href="/assignments/tags">Cancel</a>
        </div>

    </form>

{% endblock %}