<table class="table table-striped">
    <thead>
    <tr>
        <th class="col-4">Name</th>
        <th class="col-1">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for tag in object_list %}
        <tr>
            <td class="col-4">{{ tag.name }}</td>
            <td class="col-1">
                <div class="btn-group" role="group">
                    <a class="btn btn-primary btn-sm" role="button" href="{% url 'tags-edit' pk=tag.id %}">Edit</a>
                    <a class="btn btn-danger btn-sm" role="button" href="{% url 'tags-delete' pk=tag.id %}">Delete</a>
                </div>
            </td>
        </tr>
    {% empty %}
        <tr>
            <th colspan="2">No tags yet.</th>
        </tr>
    {% endfor %}
    </tbody>
</table>