{% extends 'base.html' %}

{% load bootstrap5_custom_tags %}

{% block content %}

    <h1 class="row">Generate solution</h1>
    <form action="" method="post" class="form">
        <div class="row ps-0">
            {% csrf_token %}
            <div class="col-6 ps-0 pe-3">
                {% bootstrap_form_group form.assignments %}
            </div>
            <div class="col-6 pe-0">
                {% bootstrap_form_group form.models %}
            </div>
        </div>
        <div class="row ps-0 mt-3">
            <button type="submit" class="btn btn-primary col-1" value="">Select</button>
        </div>

    </form>

{% endblock %}
