{% extends 'base.html' %}

{% load bootstrap5_custom_tags %}

{% block content %}

    <h1 class="row">Edit the response</h1>
    <form action="" method="post" class="form">
        {% csrf_token %}
        {% for field in form %}
            <div class="row ps-0">
                <div class="ps-0">
                    {% bootstrap_form_group field %}
                </div>
            </div>
        {% endfor %}
        <div class="row ps-0 mt-3">
            <button type="submit" class="btn btn-primary col-1" value="">Edit</button>
        </div>
    </form>

{% endblock %}
