{% extends 'base.html' %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}

    <h1 class="row">Generate solution</h1>
    <form action="" method="post" class="form row">
        {% csrf_token %}
        <div class="col-5 ps-0 pe-1 bg-primary">
            {% include 'communication/assignment_selector.html' with choices=assignments %}
        </div>
        <div class="col-4 ps-0 pe-1 bg-secondary">
            {% include 'communication/language_model_selector.html' with choices=llms %}
        </div>
        <div class="col-3 px-0 bg-danger">
            {% include 'communication/property_selector.html' with choices=properties %}
        </div>
    </form>

{% endblock %}
