{% extends 'base.html' %}
{% load template_custom_filters_visualization %}
{% load bootstrap_icons %}

{% block content %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <div id="search-icon-template" style="display:none;">
        {% bs_icon 'search' extra_classes="bi-valign-text-default" %}
    </div>

    <h1>Assignments overview</h1>

    <style>
        .hover_cursor {
            cursor: pointer;
        }
    </style>

    <div class="row w-100">
        <div class="col-5">
            <table class="table table-striped">
                <thead>
                <tr>
                    <td class="col-8">Assignment</td>
                    <td class="col-3">Solutions</td>
                    <td class="col-auto"></td>
                </tr>
                </thead>
                <tbody>
                {% for assignment in assignments %}
                    <tr class="hover_cursor" id="assignment_select_{{ assignment.id }}">
                        <td>{{ assignment }}</td>
                        <td>{{ assignment.solution_set.all|length }}</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a class="btn btn-primary btn-sm"
                                   href="{% url 'assignments-details' pk=assignment.id %}"
                                   data-toggle="tooltip" data-placement="left"
                                   title="Details">{% bs_icon 'search' extra_classes="bi-valign-text-default" %}</a>
                                {% if assignment.id|has_solutions %}
                                    <a class="btn btn-info btn-sm"
                                       href="{% url 'visualization-assignment-similarity' ass=assignment.id %}"
                                       data-toggle="tooltip" data-placement="right"
                                       title="Solution similarity">{% bs_icon 'circle-half' extra_classes="bi-valign-text-default" %}</a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>

                    <script>
                        $(document).ready(function () {
                            function formatTimestamp(timestamp) {
                                const date = new Date(timestamp);

                                const year = date.getFullYear();
                                const month = String(date.getMonth() + 1).padStart(2, '0'); // Months are zero-based, so we need to add 1
                                const day = String(date.getDate()).padStart(2, '0');
                                const hours = String(date.getHours()).padStart(2, '0');
                                const minutes = String(date.getMinutes()).padStart(2, '0');
                                const seconds = String(date.getSeconds()).padStart(2, '0');

                                return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
                            }

                            $('#assignment_select_{{ assignment.id }}').mousedown(function () {
                                $.ajax({
                                    url: "{% url 'visualization-assignment-solutions' ass=assignment.id %}",
                                    success: function (response) {

                                        $("#solution_table tbody").empty();

                                        response['solutions'].forEach(function (solution) {
                                            var newRow = $("<tr></tr>");

                                            // Add columns to the new row
                                            newRow.append($("<td></td>").text(formatTimestamp(solution.timestamp)));
                                            newRow.append($("<td></td>").text(solution.communicator));

                                            // Add action button with appropriate URL
                                            var iconSvg = $("#search-icon-template").html();
                                            var detailsButton = $("<a></a>")
                                                .addClass("btn btn-primary btn-sm")
                                                .attr("href", "{% url 'visualize-solution' pk=0 %}".replace("0", solution.id))
                                                .html(iconSvg);
                                            var actionColumn = $("<td></td>").append(detailsButton);
                                            newRow.append(actionColumn);

                                            // Append the new row to the table
                                            $("#solution_table tbody").append(newRow);
                                            $("#solution_table").show()
                                        });
                                    }
                                });

                                return false;
                            });
                        })
                    </script>

                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-5">
            <table class="table table-striped" id="solution_table">
                <thead>
                <tr>
                    <td class="col-5">Timestamp</td>
                    <td class="col-5">Communicator</td>
                    <td class="col-auto"></td>
                </tr>
                </thead>
                <tbody>
                {% for solution in solutions %}
                    <tr>
                        <td>{{ solution.timestamp|format_timestamp }}</td>
                        <td>{{ solution.communicator }}</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a class="btn btn-primary btn-sm"
                                   href="{% url 'visualize-solution' pk=solution.id %}">{% bs_icon 'search' extra_classes="bi-valign-text-default" %}</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>
    </div>


{% endblock %}
