{% extends 'base.html' %}
{% load template_custom_filters %}
{% load template_custom_filters_visualization %}
{% load bootstrap_icons %}

{% block content %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <div id="search-icon-template" style="display:none;">
        {% bs_icon 'search' extra_classes="bi-valign-text-default" %}
    </div>
    <div id="edit-icon-template" style="display:none;">
        {% bs_icon 'pencil' extra_classes="bi-valign-text-default" %}
    </div>
    <div id="compare-icon-template" style="display:none;">
        {% bs_icon 'file-earmark-diff' extra_classes="bi-valign-text-default" %}
    </div>

    <h1>Assignments overview</h1>

    <style>
        .hover_cursor {
            cursor: pointer;
        }
    </style>

    <div class="row w-100">
        <div class="col-5">
            <table class="table table-striped">
                <thead>
                <tr>
                    <td class="col-8">Assignment</td>
                    <td class="col-3">Solutions</td>
                    <td class="col-auto"></td>
                </tr>
                </thead>
                <tbody>
                {% for assignment in assignments %}
                    <tr class="hover_cursor" id="assignment_select_{{ assignment.id }}">
                        <td>{{ assignment }}</td>
                        <td>{{ assignment.solution_set.all|length }}</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a class="btn btn-primary btn-sm"
                                   href="{% url 'assignments-details' pk=assignment.id %}"
                                   data-toggle="tooltip" data-placement="left"
                                   title="Details">{% bs_icon 'search' extra_classes="bi-valign-text-default" %}</a>
                                {% if assignment.id|has_solutions %}
                                    <a class="btn btn-info btn-sm"
                                       href="{% url 'visualization-assignment-similarity' ass=assignment.id %}"
                                       data-toggle="tooltip" data-placement="right"
                                       title="Solution similarity">{% bs_icon 'circle-half' extra_classes="bi-valign-text-default" %}</a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>

                    <script>
                        $(document).ready(function () {

                            function formatTimestamp(timestamp) {
                                const date = new Date(timestamp);

                                const year = date.getFullYear();
                                const month = String(date.getMonth() + 1).padStart(2, '0'); // Months are zero-based, so we need to add 1
                                const day = String(date.getDate()).padStart(2, '0');
                                const hours = String(date.getHours()).padStart(2, '0');
                                const minutes = String(date.getMinutes()).padStart(2, '0');
                                const seconds = String(date.getSeconds()).padStart(2, '0');

                                return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
                            }

                            $('#assignment_select_{{ assignment.id }}').mousedown(function () {
                                document.getElementById('compare-tab').style.display = "none";
                                $("#compare-table-body").empty()
                                document.getElementById('solutions-tab').style.display = "block";

                                $.ajax({
                                    url: "{% url 'visualization-assignment-solutions' ass=assignment.id %}",
                                    success: function (response) {

                                        $("#solution_table tbody").empty();

                                        response['solutions'].forEach(function (solution) {
                                            var newRow = $("<tr></tr>");

                                            // Add columns to the new row
                                            newRow.append($("<td></td>").text(formatTimestamp(solution.timestamp)));
                                            newRow.append($("<td></td>").text(solution.communicator));

                                            // Add action button with appropriate URL
                                            var iconSvgDetails = $("#search-icon-template").html();
                                            var detailsButton = $("<a></a>")
                                                .addClass("btn btn-primary btn-sm")
                                                .attr("href", "{% url 'visualize-solution' pk=0 %}".replace("0", solution.id))
                                                .html(iconSvgDetails);

                                            var iconSvgEdit = $("#edit-icon-template").html();
                                            var editButton = $("<a></a>")
                                                .addClass("btn btn-secondary btn-sm")
                                                .attr("href", "{% url 'edit-solution' pk=0 %}".replace("0", solution.id))
                                                .html(iconSvgEdit);

                                            var iconSvgCompare = $("#compare-icon-template").html();
                                            var compareButton = $("<a></a>")
                                                .addClass("btn btn-info btn-sm")
                                                .html(iconSvgCompare);
                                            compareButton.mousedown(function () {
                                                document.getElementById('compare-tab').style.display = "block";

                                                let table_body = $("#compare-table-body")

                                                let children = table_body.children();
                                                if (children.length >= 2) {
                                                    return false
                                                }
                                                for (let i = 0; i < children.length; i++) {
                                                    const child = children[i];
                                                    if (child.lastChild.textContent === formatTimestamp(solution.timestamp)) {
                                                        return false;
                                                    }
                                                }

                                                var newCompareRow = $("<tr></tr>")
                                                var newCompareRowHidden = $("<td></td>").text(solution.id)
                                                newCompareRowHidden.hide()
                                                var newCompareRowTimestamp = $("<td></td>").text(formatTimestamp(solution.timestamp))

                                                newCompareRow.append(newCompareRowHidden).append(newCompareRowTimestamp)
                                                table_body.append(newCompareRow)

                                                if (table_body.children().length === 2) {
                                                    $("#compare-btn").show()
                                                    $("#compare-btn-decoy").hide()
                                                }
                                            })

                                            var btnDiv = $("<div></div>").append(detailsButton).append(editButton).append(compareButton);
                                            btnDiv.addClass("btn-group");

                                            var actionColumn = $("<td></td>")
                                            actionColumn.append(btnDiv)

                                            newRow.append(actionColumn);

                                            // Append the new row to the table
                                            $("#solution_table tbody").append(newRow);
                                            $("#solution_table").show()
                                        });
                                    }
                                });
                            });
                        })
                    </script>

                {% endfor %}
                </tbody>
            </table>

            <div class="row d-flex justify-content-center">
                <div class="pagination col-auto">
                    <div class="btn-group btn-group-sm" role="group" aria-label="...">
                        {% if page_obj|lookup:'has_previous' %}
                            <a class="btn btn-secondary btn-sm" href="?page=1">&laquo; first</a>
                            <a class="btn btn-secondary btn-sm"
                               href="?page={{ page_obj|lookup:'previous_page_number' }}">&lsaquo; {{ page_obj|lookup:'previous_page_number' }}</a>
                        {% endif %}

                        <span class="current btn btn-secondary btn-sm" id="current-page"
                              style="background-color: #6c757d !important; border-color: #6c757d !important;color: #fff !important;">
                    {{ page_obj|lookup:'number' }}
                </span>

                        {% if page_obj|lookup:'has_next' %}
                            <a class="btn btn-secondary btn-sm"
                               href="?page={{ page_obj|lookup:'next_page_number' }}">{{ page_obj|lookup:'next_page_number' }}
                                &rsaquo;</a>
                            <a class="btn btn-secondary btn-sm" href="?page={{ page_obj|lookup:'num_pages' }}">last
                                &raquo;</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="mt-3 mx-0">
                <a class="btn btn-primary mx-auto" id="export_similarity_report"
                   href="#">{% bs_icon 'list-columns-reverse' extra_classes="bi-valign-default" %} Export report</a>
            </div>
            <script>
                $(document).ready(function () {
                    $('#export_similarity_report').mousedown(function () {
                        window.open('export/similarity')

                        return false;
                    });
                })
            </script>
        </div>
        <div id="solutions-tab" class="col-5" style="display: none">
            <table class="table table-striped" id="solution_table">
                <thead>
                <tr>
                    <td class="col-5">Timestamp</td>
                    <td class="col-5">Communicator</td>
                    <td class="col-auto"></td>
                </tr>
                </thead>
                <tbody>
                {% for solution in solutions %}
                    <tr>
                        <td>{{ solution.timestamp|format_timestamp }}</td>
                        <td>{{ solution.communicator }}</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a class="btn btn-primary btn-sm"
                                   href="{% url 'visualize-solution' pk=solution.id %}">{% bs_icon 'search' extra_classes="bi-valign-text-default" %}</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="compare-tab" class="col-2" style="display: none">
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>Compare Solutions</td>
                </tr>
                </thead>
                <tbody id="compare-table-body">

                </tbody>
            </table>
            <a id="compare-btn" class="btn btn-primary">Compare</a>
            <a id="compare-btn-decoy" class="btn btn-primary disabled">Compare</a>
        </div>
        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
                $("#compare-btn").hide()
                $("#compare-btn-decoy").show()
            })

            $('#compare-btn').mousedown(function () {
                const firstCompareId = document.getElementById("compare-table-body").firstChild.firstChild.textContent
                const secondCompareId = document.getElementById("compare-table-body").lastChild.firstChild.textContent

                console.log(firstCompareId)
                console.log(secondCompareId)

                let url = "{% url 'visualization-compare' sol1=0 sol2=0 %}";
                url = url.replace("0", firstCompareId)
                url = url.split("").reverse().join("").replace("0", secondCompareId.toString().split("").reverse().join("")).split("").reverse().join("");

                window.location.replace(url);
            })
        </script>
    </div>


{% endblock %}
