{% load bootstrap_icons %}

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col" class="col-2">Semester</th>
        <th scope="col" class="col-2">Sheet</th>
        <th scope="col" class="col-2">Task</th>
        <th scope="col" class="col-2">Subtask</th>
        <th scope="col" class="col-1">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for assignment in object_list %}
        <tr>
            <td class="col-2">{{ assignment.semester }}</td>
            <td class="col-2">{{ assignment.sheet }}</td>
            <td class="col-2">{{ assignment.task }}</td>
            <td class="col-2">{{ assignment.subtask }}</td>
            <td class="col-1" >
                <div class="btn-group" role="group">
                    <a class="btn btn-success btn-sm"
                       href="{% url 'assignments-details' pk=assignment.id %}">{% bs_icon 'search' extra_classes="bi-valign-text-bottom"%}</a>
                    <a class="btn btn-primary btn-sm" href="{% url 'assignments-edit' pk=assignment.id %}">{% bs_icon 'pencil' extra_classes="bi-valign-text-bottom" %}</a>
                    <a class="btn btn-danger btn-sm"
                       href="{% url 'assignments-delete' pk=assignment.id %}">{% bs_icon 'trash3' extra_classes="bi-valign-text-bottom"%}</a>
                </div>
            </td>
        </tr>
    {% empty %}
        <tr>
            <th colspan="5">No assignments yet.</th>
        </tr>
    {% endfor %}
    </tbody>
</table>