{% extends 'base.html' %}
{% load bootstrap_icons %}

{% block content %}
    <div class="row w-auto">
        {% include 'assignments/assignment_list.html' %}
    </div>
    <div class="row w-auto">
        <div class="col-4 px-0">
            <a href="{% url 'assignments-create' %}" class="btn btn-primary" role="button">{% bs_icon 'plus-lg' extra_classes="bi-valign-middle"%}Create new</a>
            <a href="{% url 'tags' %}" class="btn btn-secondary" role="button">{% bs_icon 'gear' extra_classes="bi-valign-middle"%}Manage tags</a>
        </div>
    </div>
    </div>
{% endblock %}
