{% load static %}

<nav class="navbar navbar-expand-lg bg-dark mb-3" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="{% static 'lmaa_logo.png' %}" height="40" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" href="/assignments">Assignments</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="/communication/new" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Communication
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item text-white" href="/communication/new">New request</a></li>
                        <li><a class="dropdown-item text-white" href="/communication/status">Status</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" href="/testing">Testing</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="/visualization/overview" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Visualization
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item text-white" href="/visualization/overview">Overview</a></li>
                        <li><a class="dropdown-item text-white" href="/visualization/testmetrics">Test Metrics</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
